<section class="container-fluid">
  <h2 class="text-left">Popular Brands</h2>
  <hr>

  <div class="d-flex bd-highlight">
      <div class="p-2 flex-fill bd-highlight">
          <div class="card bg-dark text-black">
              <img src="../../../assets/blaze.jpg" class="card-img blaze" alt="nike">
              <div class="card-img-overlay">
                <h5 class="card-title">Card title</h5>
              </div>
            </div>
      </div>
      <div class="p-2 flex-fill bd-highlight">
          <div class="card bg-dark text-black">
              <img src="../../../assets/ultraboost.jpg" class="card-img blaze" alt="adidas">
              <div class="card-img-overlay">
                <h5 class="card-title">Card title</h5>
              </div>
            </div>
      </div>
      <div class="p-2 flex-fill bd-highlight"> 
          <div class="card bg-dark text-black">
              <img src="../../../assets/j1.jpg" class="card-img blaze" alt="jordans">
              <div class="card-img-overlay">
                <h5 class="card-title">Card title</h5>
              </div>
            </div>
      </div>
      <div class="p-2 flex-fill bd-highlight">
          <div class="card bg-dark text-black">
              <img src="../../../assets/waverunner.jpg" class="card-img blaze" alt="yeezy">
              <div class="card-img-overlay">
                <h5 class="card-title">Card title</h5> 
              </div>
            </div>
      </div>
    </div>
</section>